body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  min-width: 320px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 60px 0px 60px 0px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 42.5px;
  background: #2196f3;
  height: 4px;
  border-radius: 10px 10px 10px 10px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.header {
  height: 60px;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}
.header__logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.16;
  color: #2196f3;
  text-decoration: none;
  letter-spacing: 0.03em;
  margin: 0;
}
.header__logo-span {
  color: #000000;
}
.header__nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  text-decoration: none;
  letter-spacing: 0.02em;
  position: relative;
  -webkit-transition: color 250ms;
  transition: color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-link:hover {
  color: #2196f3;
}
.header__nav-link:focus {
  color: #2196f3;
}
.header__nav {
  padding-top: 32px;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  height: 48px;
}
.header__contact-list {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 21px;
  gap: 10px;
}
.header__contact-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
  text-decoration: none;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  -webkit-transition: color 250ms, fill 250ms;
  transition: color 250ms, fill 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact-link:hover {
  color: #2196f3;
  fill: #2196f3;
}
.header__contact-link:focus {
  color: #2196f3;
  fill: #2196f3;
}
.header__contact-svg {
  margin-right: 8px;
}
.header__button {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  -webkit-transition: fill 250ms;
  transition: fill 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}
.header__button:hover {
  fill: #2196f3;
}
.header__button:focus {
  fill: #2196f3;
}
.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
  .header__contact-list {
    display: none;
  }
}
@media (min-width: 768px) {
  .header {
    height: 80px;
  }
  .header__button {
    display: none;
  }
  .header__flex {
    height: 80px;
  }
}
@media (min-width: 1200px) {
  .header__contact-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    padding-top: 32px;
  }
  .header__contact-svg {
    margin-right: 10px;
  }
  .header__contact-link {
    font-size: 14px;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__button {
  position: absolute;
  top: 10px;
  right: 15px;
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  fill: #afb1b8;
  -webkit-transition: fill 250ms;
  transition: fill 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__button:hover {
  fill: #2196f3;
}
.mobile-menu__button:focus {
  fill: #2196f3;
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  -webkit-transition: color 250ms;
  transition: color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover {
  color: #2196f3;
}
.mobile-menu__link:focus {
  color: #2196f3;
}
.mobile-menu__nav {
  padding-top: 48px;
  padding-left: 40px;
}
.mobile-menu__contact {
  padding-top: 270px;
  padding-left: 40px;
  padding-bottom: 64px;
}
.mobile-menu__phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  -webkit-transition: color 250ms;
  transition: color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__phone:hover {
  color: #2196f3;
}
.mobile-menu__phone:focus {
  color: #2196f3;
}
.mobile-menu__item:not(:last-child) {
  padding-bottom: 32px;
}
.mobile-menu__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  -webkit-transition: color 250ms;
  transition: color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__email:hover {
  color: #2196f3;
}
.mobile-menu__email:focus {
  color: #2196f3;
}
.mobile-menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
}
.mobile-menu__socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 250ms;
  transition: color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__socials-link:hover {
  color: #2196f3;
}
.mobile-menu__socials-link:focus {
  color: #2196f3;
}
.mobile-menu__socials-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu__socials-item:not(:first-child) {
  padding-left: 10px;
}

.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hero {
  width: 100%;
  max-width: 480px;
  min-width: 320px;
  height: 400px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(235deg, 10%, 21%, 0.4)), to(hsla(235deg, 10%, 21%, 0.4))), url(/images/bg-image-mobile.jpg);
  background-image: linear-gradient(hsla(235deg, 10%, 21%, 0.4), hsla(235deg, 10%, 21%, 0.4)), url(/images/bg-image-mobile.jpg);
  margin: auto;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero .hero {
    background-image: url(/images/bg-image-mobile@x2.jpg);
  }
}
.hero__header {
  max-width: 365px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  padding-top: 118px;
}
.hero__button {
  width: 200px;
  height: 50px;
  border: none;
  background: #f5f4fa;
  color: #212121;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  margin-top: 30px;
  display: block;
  -webkit-transition: color 250ms, background 250ms;
  transition: color 250ms, background 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover {
  background: #2196f3;
  color: #ffffff;
}
.hero__button:focus {
  background: #2196f3;
  color: #ffffff;
}

@media (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(235deg, 10%, 21%, 0.4)), to(hsla(235deg, 10%, 21%, 0.4))), url(/images/bg-image-tablet.jpg);
    background-image: linear-gradient(hsla(235deg, 10%, 21%, 0.4), hsla(235deg, 10%, 21%, 0.4)), url(/images/bg-image-tablet.jpg);
    max-width: 768px;
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero .main-banner {
    background-image: url(/images/bg-image-tablet@x2.jpg);
  }
}
@media (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(235deg, 10%, 21%, 0.4)), to(hsla(235deg, 10%, 21%, 0.4))), url(/images/bg-image-desktop.jpg);
    background-image: linear-gradient(hsla(235deg, 10%, 21%, 0.4), hsla(235deg, 10%, 21%, 0.4)), url(/images/bg-image-desktop.jpg);
  }
  .hero__header {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
@media (min-device-input-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
  .hero {
    background-image: url(/images/bg-image-desktop@x2.jpg);
  }
}
.description {
  background-color: #ffffff;
}
.description__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.description__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 450px;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
}
.description__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
  letter-spacing: 0.03em;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}
.description__text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  letter-spacing: 0.03em;
  margin: 0;
}

@media (min-width: 768px) {
  .description {
    padding-bottom: 45px;
  }
  .description__svg {
    width: 354px;
  }
  .description__header {
    text-align: start;
  }
  .description__item {
    width: 354px;
  }
  .description__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .description__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .description__svg {
    width: 270px;
  }
  .description__item {
    width: 270px;
  }
}
.work {
  background-color: #ffffff;
  padding-top: 0;
}
.work__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  margin: 0;
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.work__figure {
  margin: 0;
  position: relative;
  width: 370px;
  height: 294px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.work__figcaption {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  height: 70px;
  top: 224px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

@media (max-width: 1199px) {
  .work {
    display: none;
  }
}
.team {
  background: #f5f4fa;
}
.team__header {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 30px;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 30px;
}
.team__item {
  width: 450px;
  height: 622px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__img {
  display: block;
  width: 100%;
}
.team__name {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #212121;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
}
.team__description {
  font-size: 16px;
  line-height: 1.2;
  color: #757575;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 16px;
}
.team__socials {
  padding-bottom: 30px;
}
.team__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team__socials-item {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: background 250ms, fill 250ms;
  transition: background 250ms, fill 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__socials-item:hover {
  fill: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}
.team__socials-item:focus {
  fill: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}
.team__socials-svg {
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) {
  .team__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team__item {
    width: 354px;
    height: 536px;
  }
}
@media (min-width: 1200px) {
  .team__header {
    font-size: 36px;
  }
  .team__item {
    width: 270px;
    height: 428px;
  }
}
.customers {
  background-color: #ffffff;
}
.customers__header {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
  margin: 0;
  color: #212121;
}
.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.customers__item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  -webkit-transition: fill 250ms, border 250ms;
  transition: fill 250ms, border 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__item:hover {
  fill: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
}
.customers__item:focus {
  fill: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
}

@media (min-width: 768px) {
  .customers__item {
    width: 226px;
  }
}
@media (min-width: 1200px) {
  .customers__header {
    font-size: 36px;
    padding-bottom: 50px;
  }
  .customers__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .customers__item {
    width: 170px;
  }
}
.footer {
  background: #2f303a;
  padding-bottom: 60px;
}
.footer__logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
  text-decoration: none;
  letter-spacing: 0.03em;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: center;
}
.footer__logo-span {
  color: #ffffff;
}
.footer__item {
  padding-bottom: 8px;
  text-align: center;
}
.footer__address {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer__email {
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms;
  transition: color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__email:hover {
  color: #2196f3;
}
.footer__email:focus {
  color: #2196f3;
}
.footer__phone {
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms;
  transition: color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
}
.footer__phone:hover {
  color: #2196f3;
}
.footer__phone:focus {
  color: #2196f3;
}

.footer-socials {
  padding-top: 60px;
}
.footer-socials__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  text-align: center;
}
.footer-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-socials__item {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background 250ms;
  transition: background 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials__item:hover {
  background: #2196f3;
  cursor: pointer;
}
.footer-socials__item:focus {
  background: #2196f3;
  cursor: pointer;
}
.footer-socials__svg {
  width: 20px;
  height: 20px;
}

.footer-newsletter {
  padding-top: 60px;
}
.footer-newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-newsletter__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  display: block;
  padding-bottom: 20px;
  text-align: center;
}
.footer-newsletter__input {
  width: 100%;
  max-width: 450px;
  min-width: 320px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 0;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: border-color 250ms;
  transition: border-color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-newsletter__input:focus {
  border-color: #2196f3;
}
.footer-newsletter__button {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f5f4fa;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: #f5f4fa;
  border-radius: 4px;
  fill: #afb1b8;
  color: #212121;
  padding: 0;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-left: 42px;
  margin-top: 20px;
  -webkit-transition: background 250ms, fill 250ms, color 250ms;
  transition: background 250ms, fill 250ms, color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-newsletter__button:hover {
  background: #2196f3;
  fill: #ffffff;
  color: #ffffff;
}
.footer-newsletter__button:focus {
  background: #2196f3;
  fill: #ffffff;
  color: #ffffff;
}
.footer-newsletter__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
}
.footer-newsletter__svg {
  margin-left: 24px;
}

.footer-flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.portfolio {
  background-color: #ffffff;
}
.portfolio__button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  gap: 8px;
}
.portfolio__button {
  border-radius: 4px;
  background: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #212121;
  letter-spacing: 0.03em;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: 0px;
  -webkit-transition: color 250ms, background 250ms, -webkit-box-shadow 250ms;
  transition: color 250ms, background 250ms, -webkit-box-shadow 250ms;
  transition: color 250ms, background 250ms, box-shadow 250ms;
  transition: color 250ms, background 250ms, box-shadow 250ms, -webkit-box-shadow 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button:hover {
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio__button:focus {
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio__items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  gap: 30px;
}
.portfolio__figure {
  margin: 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 250ms;
  transition: -webkit-box-shadow 250ms;
  transition: box-shadow 250ms;
  transition: box-shadow 250ms, -webkit-box-shadow 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__figure:hover {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__figure:hover .portfolio__overlay {
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding-top: 49px;
  padding-left: 24px;
  -webkit-transition: background 250ms, -webkit-transform 250ms;
  transition: background 250ms, -webkit-transform 250ms;
  transition: transform 250ms, background 250ms;
  transition: transform 250ms, background 250ms, -webkit-transform 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__overlay-text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.portfolio__image {
  display: block;
}
.portfolio__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin: 0;
  padding-top: 20px;
  padding-left: 24px;
  color: #212121;
  letter-spacing: 0.06em;
}
.portfolio__description {
  font-size: 16px;
  line-height: 1.9;
  margin: 0;
  padding-left: 24px;
  padding-bottom: 20px;
  color: #757575;
  letter-spacing: 0.03em;
}
.portfolio__figcaption {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  overflow: hidden;
  position: relative;
  height: 110px;
  background-color: #ffffff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms, visibility 250ms;
  transition: opacity 250ms, visibility 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__exit {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background 250ms, color 250ms, -webkit-box-shadow 250ms;
  transition: background 250ms, color 250ms, -webkit-box-shadow 250ms;
  transition: background 250ms, color 250ms, box-shadow 250ms;
  transition: background 250ms, color 250ms, box-shadow 250ms, -webkit-box-shadow 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__exit:hover {
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal__exit:focus {
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal__header {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 2px;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__input {
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0;
  padding-left: 40px;
  -webkit-transition: outline 250ms, border 250ms;
  transition: outline 250ms, border 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  outline: #2196f3;
  border: 1px solid #2196f3;
}
.modal__textarea {
  resize: none;
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  -webkit-transition: outline 250ms, border 250ms;
  transition: outline 250ms, border 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:focus {
  outline: #2196f3;
  border: 1px solid #2196f3;
}
.modal__svg {
  position: absolute;
  left: 55px;
  top: 42px;
}
.modal__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.modal__item {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-transition: fill 250ms;
  transition: fill 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__item:focus-within {
  fill: #2196f3;
}
.modal__checkbox-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.modal__checkbox-div {
  width: 16px;
  height: 15px;
  position: relative;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-top: 5px;
  margin-right: 8px;
  -webkit-transition: border-color 250ms;
  transition: border-color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__checkbox-div:hover {
  border-color: #2196f3;
}
.modal__checkbox {
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 18px;
  height: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.modal__checkbox:checked + .modal__checkbox-svg {
  opacity: 1;
}
.modal__checkbox-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal__checkbox-svg {
  z-index: 102;
  border-radius: 2px;
  width: 17px;
  height: 16px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #ffffff;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button {
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #f5f4fa;
  border: #f5f4fa;
  margin-left: 125px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: #212121;
  letter-spacing: 0.06em;
  -webkit-transition: background 250ms, color 250ms;
  transition: background 250ms, color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal__button:focus {
  background: #2196f3;
  color: #ffffff;
}
.modal__button:hover {
  background: #2196f3;
  color: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media (min-width: 1200px) {
  .modal__content {
    width: 528px;
    height: 581px;
  }
  .modal__input {
    width: 448px;
  }
  .modal__textarea {
    width: 448px;
  }
  .modal__checkbox-text {
    font-size: 14px;
    line-height: 1.71;
  }
  .modal__button {
    margin-left: 164px;
  }
}/*# sourceMappingURL=main.css.map */