.customers {
  background-color: $colorWhite;
  &__header {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 30px;
    margin: 0;
    color: $colorBlackText;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  &__item {
    border: $customersItemBorder;
    border-radius: 4px;
    display: flex;
    width: 210px;
    height: 92px;
    justify-content: center;
    align-items: center;
    fill: $svgGreyFill;
    transition: fill 250ms, border 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      fill: $colorBlue;
      border-color: $colorBlue;
      cursor: pointer;
    }
    &:focus {
      fill: $colorBlue;
      border-color: $colorBlue;
      cursor: pointer;
    }
  }
}
@media (min-width: 768px) {
  .customers {
    &__item {
      width: 226px;
    }
  }
}
@media (min-width: 1200px) {
  .customers {
    &__header {
      font-size: 36px;
      padding-bottom: 50px;
    }
    &__list {
      flex-wrap: nowrap;
    }
    &__item {
      width: 170px;
    }
  }
}
