.customers {
  background-color: $colorWhite;
  &__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
    margin: 0;
    color: $colorBlackText;
  }
  &__list {
    display: flex;
  }
  &__item {
    border: $customersItemBorder;
    border-radius: 4px;
    display: flex;
    width: 170px;
    height: 92px;
    margin: 0 15px;
    justify-content: center;
    align-items: center;
    fill: $svgGreyFill;
    transition: fill 250ms, border 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      fill: $colorBlue;
      border-color: $colorBlue;
      cursor: pointer;
    }
    &:focus {
      fill: $colorBlue;
      border-color: $colorBlue;
      cursor: pointer;
    }
  }
}
