.description {
  background-color: $colorWhite;
  &__list {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  &__svg {
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background: $colorLightgreyBg;
    border-radius: 4px;
  }
  &__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    color: $colorBlackText;
    letter-spacing: 0.03em;
    margin: 0;
    padding-top: 30px;
  }
  &__text {
    font-size: 14px;
    line-height: 1.7;
    color: $colorGrey;
    letter-spacing: 0.03em;
    margin-top: 10px;
    margin-bottom: 0;
  }
}
