.header {
  height: 60px;
  border-bottom: $headerBorder;
  background-color: $colorWhite;
  &__logo {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    line-height: 1.16;
    color: $colorBlue;
    text-decoration: none;
    letter-spacing: 0.03em;
    margin: 0;
  }
  &__logo-span {
    color: $colorBlackLogoBg;
  }
  &__nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: $colorBlackText;
    text-decoration: none;
    letter-spacing: 0.02em;
    position: relative;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: $colorBlue;
    }
    &:focus {
      color: $colorBlue;
    }
  }
  &__nav {
    padding-top: 32px;
  }
  &__nav-list {
    display: flex;
    gap: 60px;
    height: 48px;
  }
  &__contact-list {
    height: 80px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding-top: 21px;
    gap: 10px;
  }
  &__contact-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    color: $colorGrey;
    text-decoration: none;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $svgGreyFill;
    transition: color 250ms, fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: $colorBlue;
      fill: $colorBlue;
    }
    &:focus {
      color: $colorBlue;
      fill: $colorBlue;
    }
  }
  &__contact-svg {
    margin-right: 8px;
  }
  &__button {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    transition: fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: $svgGreyFill;
    &:hover {
      fill: $colorBlue;
    }
    &:focus {
      fill: $colorBlue;
    }
  }
  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
  .header__contact-list {
    display: none;
  }
}
@media (min-width: 768px) {
  .header {
    height: 80px;
    &__button {
      display: none;
    }
    &__flex {
      height: 80px;
    }
  }
}
@media (min-width: 1200px) {
  .header {
    &__contact-list {
      flex-flow: row;
      padding-top: 32px;
    }
    &__contact-svg {
      margin-right: 10px;
    }
    &__contact-link {
      font-size: 14px;
    }
  }
}
