.hero {
  width: 100%;
  max-width: 480px;
  min-width: 320px;
  height: 400px;
  background-image: $heroBackgroundGradient, url(images/bg-image-mobile.jpg);
  margin: auto;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(images/bg-image-mobile@x2.jpg);
    }
  }
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  &__header {
    max-width: 365px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    color: $colorWhite;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    padding-top: 118px;
  }
  &__button {
    width: 200px;
    height: 50px;
    border: none;
    background: $colorLightgreyBg;
    color: $colorBlackText;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: center;
    box-shadow: $heroButtonShadow;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
    margin-top: 30px;
    display: block;
    transition: color 250ms, background 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      background: $colorBlue;
      color: $colorWhite;
    }
    &:focus {
      background: $colorBlue;
      color: $colorWhite;
    }
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: $heroBackgroundGradient, url(images/bg-image-tablet.jpg);
    max-width: 768px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .main-banner {
        background-image: url(images/bg-image-tablet@x2.jpg);
      }
    }
  }
}
@media (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: $heroBackgroundGradient, url(images/bg-image-desktop.jpg);
    &__header {
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
@media (min-device-input-ratio: 3), (min-resolution: 288dpi) {
  .hero {
    background-image: url(images/bg-image-desktop@x2.jpg);
  }
}
