$colorBlue: #2196f3;
$colorWhite: #ffffff;
$colorLightgreyBg: #f5f4fa;
$colorBlackLogoBg: #000000;
$colorGrey: #757575;
$colorBlackText: #212121;
$colorBackground: #202020;
$svgGreyFill: #afb1b8;
$svgBackground: rgba(255, 255, 255, 0.1);
$headerBorder: 1px solid #ececec;
$heroBackground: rgba(47, 48, 58, 0.4);
$heroBackgroundGradient: linear-gradient(
  hsla(235, 10%, 21%, 0.4),
  hsla(235, 10%, 21%, 0.4)
);
$heroButtonShadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$workFigcaptionBg: rgba(47, 48, 58, 0.8);
$teamItemShadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$customersItemBorder: 1px solid #afb1b8;
$footerBgColor: #2f303a;
$footerOpacity: rgba(255, 255, 255, 0.6);
$footerInputColor: rgba(255, 255, 255, 0.6);
$footerInputBorder: 1px solid rgba(255, 255, 255, 0.3);
$footerInputFilter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
$footerButtonShadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$portfolioFigcaptionBorder: #eeeeee;
$portfolioButtonShadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$portfolioFigureShadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$portfolioFigureBg: rgba(33, 150, 243, 0.9);
$modalBg: rgba(0, 0, 0, 0.2);
$modalShadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$modalExitBorder: 1px solid rgba(0, 0, 0, 0.1);
$modalExitShadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$modalInputBorder: 1px solid rgba(33, 33, 33, 0.2);
$modalTextareaBorder: 1px solid rgba(33, 33, 33, 0.2);
$modalTextareaPlaceholder: rgba(117, 117, 117, 0.5);
$modalButtonShadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
